@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.wrapper {
    height: 100vh;
    position: relative;
}

.base-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: fit-content;
    border-radius: 0.8rem;
    background-color: var(--dialog-background-color);
    padding: 1.2rem 2.4rem;
}

.base-title {
    font-size: 2rem;
    word-break: keep-all;
}

.base-btn-box {
    margin-top: 1.6rem;
}

.fa-arrow-up-from-bracket {
    color: #006ee6;
    font-size: 1.4rem;
}

.base-des {
    font-size: 1.4rem;
    word-break: keep-all;
}

.base-btn {
    cursor: pointer;
    padding: 0.4rem 2.4rem;
    background-color: var(--accent-color);
    width: fit-content;
    margin: 1.6rem auto 0 auto;
    color: black;
    border-radius: 100rem;
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    .base-box {
        width: fit-content;
    }
}