@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.wrapper {
    padding: 3.6rem 2.4rem;
    position: relative;
}

.home-title {
    color: var(--accent-color);
}

.home-title,
.home-title-des,
.home-recommend-title {
    font-size: 2.4rem;
    text-align: start;
}

.home-title-sla {
    font-size: 2rem;
}

.home-function-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--reverse-background-color);
    position: fixed;
    bottom: 7.2rem;
    right: 2.4rem;
    padding: 1.2rem 0.8rem;
    border-radius: 100rem;
    grid-gap: 1.2rem;
    z-index: 20;
}

.home-function-box > i {
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.8rem;
}

.fa-link {
    background-color: var(--accent-color);
    color: #101010;
}

.fa-link-slash {
    background-color: var(--pastel-red);
    color: #101010;
}

.home-recommend-box {
    margin-top: 3.6rem;
}

.home-recommend-title-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.home-recommend-des {
    color: var(--sub-color);
    font-size: 1.4rem;
    text-align: start;
}

.home-recommend-list {
    margin-top: 1.6rem;
}

.home-recommend-item {
    border-radius: 0.8rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0.8rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-recommend-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.8rem 1.6rem;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 80%);
}

.home-recommend-name-box {
    display: flex;
    grid-gap: 0.8rem;
    align-items: flex-end;
}

.home-recommend-name {
    font-size: 2.4rem;
    text-align: start;
    color: white;
}

.home-recommend-info {
    font-size: 1.6rem;
    text-align: start;
    color: var(--accent-color);
}

.home-recommend-tag-box {
    display: flex;
    margin-top: 0.4rem;
    align-items: center;
    grid-gap: 0.8rem;
    flex-wrap: wrap;
}

.home-recommend-tag {
    font-size: 1.4rem;
    color: var(--accent-color);
}