@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.wrapper {
    height: 100vh;
    position: relative;
}

.router {
    height: calc(100% - 4.4rem - 4.8rem);
    margin-top: 4.4rem;
}