@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.wrapper {
    padding: 3.6rem 2.4rem;
    position: relative;
}

.home-title {
    color: var(--accent-color);
}

.home-title,
.home-title-des,
.home-recommend-title {
    font-size: 2.4rem;
    text-align: start;
}

.home-title-sla {
    font-size: 2rem;
}

.home-function-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--reverse-background-color);
    position: fixed;
    bottom: 7.2rem;
    right: 2.4rem;
    padding: 1.2rem 0.8rem;
    border-radius: 100rem;
    grid-gap: 1.2rem;
}

.home-function-box > i {
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.8rem;
}

.fa-link {
    background-color: var(--accent-color);
    color: #101010;
}

.fa-link-slash {
    background-color: var(--pastel-red);
    color: #101010;
}

.fa-plus {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.home-recommend-box {
    margin-top: 3.6rem;
}

.home-recommend-list {
    margin-top: 0.8rem;
    display: grid;
    grid-gap: 1.6rem;
}

.home-recommend-item {
    border-radius: 0.8rem;
    padding: 0.8rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    grid-gap: 0.8rem;
}

.home-recommend-item-profile-box {
    width: fit-content;
    display: flex;
    align-items: center;
    grid-gap: 0.8rem;
}

.home-recommend-item-profile-img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    background-image: url("https://picsum.photos/480/480");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-recommend-item-profile-name {
    color: var(--reverse-primary-color);
    font-size: 1.8rem;
}

.home-recommend-item-img {
    border-radius: 0.8rem;
    background-color: var(--background-color);
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("https://picsum.photos/960/640/");
}

.home-recommend-item-text {
    color: var(--reverse-primary-color);
    text-align: start;
}

.home-recommend-item-timestamp {
    color: var(--sub-color);
    text-align: start;
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    .home-recommend-list {
        grid-template-columns: repeat(2, 1fr);
    }
}