@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";
@import "/node_modules/multi-range-slider-vue/MultiRangeSliderBarOnly.css";

.wrapper {
    position: relative;
}

.recommend-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.6rem;
    height: 6rem;
}

.recommend-router {
    height: calc(100vh - 6rem - 4.4rem - 4.8rem);
}

.recommend-menu-item {
    width: 100%;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--sub-color);
    border-bottom: 2px solid transparent;
}

.recommend-radio:checked + label {
    color: var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
}

.recommend-slide {
    padding: 0.8rem 2.4rem 3.6rem 2.4rem;
}

.recommend-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.recommend-title {
    font-size: 2.4rem;
    text-align: start;
}

.recommend-filter {
    padding: 0.2rem 1.6rem;
    background-color: var(--accent-color);
    color: #101010;
    border-radius: 100rem;
}

.recommend-des {
    color: var(--sub-color);
    font-size: 1.4rem;
    text-align: start;
}

.recommend-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1.6rem;
    position: relative;
}

.recommend-no-doc {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: var(--sub-color);
}

.recommend-item {
    width: 100%;
    border-radius: 0.8rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0.8rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.recommend-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    display: flex;
    padding: 0.8rem 1.6rem;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 80%);
}

.recommend-name-box {
    display: flex;
    grid-gap: 0.8rem;
    align-items: flex-end;
}

.recommend-name {
    font-size: 2.4rem;
    text-align: start;
    color: white;
}

.recommend-info {
    font-size: 1.6rem;
    text-align: start;
    color: var(--accent-color);
}

.recommend-tag-box {
    display: flex;
    margin-top: 0.4rem;
    align-items: center;
    grid-gap: 0.8rem;
    flex-wrap: wrap;
}

.recommend-tag {
    font-size: 1.4rem;
    color: var(--accent-color);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--overlay-color);
    z-index: 10;
    display: none;
    align-items: flex-end;
}

.overlay-box {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 1.6rem 2.4rem;
}

.overlay-x {
    position: absolute;
    right: 2.4rem;
    color: var(--pastel-red);
    font-size: 2rem;
}

.overlay-title {
    font-size: 2.4rem;
}

.overlay-subtitle-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay-subtitle {
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: start;
    color: var(--sub-dark-color);
}

.overlay-subinfo {
    margin-top: 2rem;
    font-size: 1.6rem;
    text-align: start;
}

.overlay-list {
    display: flex;
    align-items: center;
    grid-gap: 0.8rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 2.8rem;
    margin-top: 0.8rem;
}

.multi-range-slider {
    border: none;
}

.overlay-item {
    flex: 0 0 auto;
}

.overlay-radio {
    display: none;
}

.overlay-label {
    background-color: var(--dialog-background-color);
    padding: 0.4rem 1.2rem;
    border-radius: 100rem;
    font-size: 1.4rem;
}

.overlay-radio:checked + label {
    color: #101010;
    background-color: var(--accent-color);
}

.multi-range-slider {
    width: 100%;
}

.multi-range-slider .thumb::before {
    background: red;
}

.overlay-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1.6rem;
    margin-top: 3.6rem;
}

.overlay-btn {
    width: 100%;
    color: #101010;
    border-radius: 0.8rem;
    padding: 0.8rem 1.6rem;
}

.reset {
    background-color: var(--pastel-red);
}

.search {
    background-color: var(--accent-color);
}