@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.wrapper {
    position: relative;
}

.place {
    margin-top: 4.4rem;
}

.place-thumbnail {
    width: 100%;
    height: 16rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay-box {
    padding: 0.8rem 1.6rem;
    padding-bottom: 1.6rem;
}

.overlay-name {
    font-size: 2.4rem;
}

.overlay-address {
    color: var(--sub-color);
}

.overlay-tag-box {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.8rem;
    flex-wrap: wrap;
}

.overlay-tag {
    color: var(--accent-color);
    font-size: 1.4rem;
}

.overlay-func-box {
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}