@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.wrapper {
    overflow: scroll;
}

.dm-list {
    margin-top: 4.4rem;
    height: calc(100vh - 4.4rem);
    overflow: scroll;
    position: relative;
}

.dm-item {
    padding: 1.2rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dm-item-left {
    display: flex;
    align-items: center;
    grid-gap: 1.2rem;
}

.dm-item-img {
    width: 4.2rem;
    height: 4.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.dm-item-title {
    font-size: 1.8rem;
    text-align: start;
}

.post-item-timestamp-box {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.4rem;
    width: 8rem;
}

.fa-clock {
    color: var(--sub-color);
    font-size: 1.2rem;
}

.post-item-timestamp {
    color: var(--sub-color);
    font-size: 1.4rem;
}

.dm-item-msg {
    font-size: 1.4rem;
    text-align: start;
    color: var(--sub-color);
}

.no-post {
    color: var(--sub-color);
    font-size: 2.4rem;
    margin-top: 50vh;
}

.post-item-no-read {
    color: var(--pastel-red);
    font-size: 1.2rem;
}

.post-item-read {
    color: var(--sub-color);
    font-size: 1.2rem;
}