@import "@/styles/_variabled.css";
@import "@/styles/font.css";
@import "@/styles/reset.css";

.header {
    position: fixed;
    top: 0;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2.4rem;
    box-shadow: 0 0.2rem 0.6rem var(--shadow-color);
    height: 4.4rem;
    z-index: 1;
}

.header-logo {
    display: flex;
    grid-gap: 0.6rem;
    align-items: center;
}

.header-logo-title {
    font-size: 2rem;
}

.fa-wine-bottle,
.fa-paper-plane {
    color: var(--accent-color);
    font-size: 2.4rem;
}

.fa-paper-plane {
    position: relative;
}

.header-post-count-box {
    position: absolute;
    top: -0.4rem;
    right: -0.8rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--pastel-red);
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.4rem;
}

.header-post-count {
    font-size: 1rem;
    color: #101010;
}